<!DOCTYPE html>
<html>
<head>
<title>Car Price Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">

<h1>Car Price Prediction</h1>

<form action="/predict" method="post">

<input type="number" step="0.01" min="0"
name="present_price"
placeholder="Showroom Price"
required>

<input type="number" min="0"
name="kms_driven"
placeholder="Kilometers Driven"
required>

<input type="number" min="0" max="5"
name="owner"
placeholder="Number of Owners"
required>

<input type="number" min="0"
name="car_age"
placeholder="Car Age"
required>

<select name="fuel">
<option value="Petrol">Petrol</option>
<option value="Diesel">Diesel</option>
</select>

<select name="seller">
<option value="Dealer">Dealer</option>
<option value="Individual">Individual</option>
</select>

<select name="transmission">
<option value="Manual">Manual</option>
<option value="Automatic">Automatic</option>
</select>

<button type="submit">
Predict Price
</button>

</form>

{% if prediction_text is not none %}
<div class="result">
Predicted Price : ₹ {{ prediction_text }} Lakh
</div>
{% endif %}

</div>
</body>
</html>